{
	"sourceMaps": true,
	"exclude": [".test.ts$"],
	"module": { "type": "es6" },
	"minify": false,
	"isModule": true,
	"jsc": {
		"target": "es2024",
		"loose": false,
		"baseUrl": "./",
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true
		},
		"minify": {
			"compress": false,
			"mangle": false
		},
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		}
	}
}
